.bg-logo {
    background-color: #dbe9b7;
    color: white;
}
.text-logo {
    color: #2e760d;
}
.bg-menu {
    background-color: #B8B2A6;
}
.link-bold {
    font-weight: bold;
}
.hero {
    margin-top: 100px;
}
.text-pink {
    color: palevioletred;
}
.carousel-image-wrapper {
    height: 500px;
    overflow: hidden;
}
.carousel-image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.footer {
    padding: 40px 0;
    margin-top: 50px;
    background-color: #b8b2a6;
    color: white;
}
.mt-10 {
    margin-top: 130px;
}
.card {
    overflow: hidden;
    height: 100%;
}
.card-img-wrapper {
    height: 200px;
    overflow: hidden;
}
.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}